<h2 class="title" style="text-align: center;">かなちゅう発車案内</h2>

<div class="buses">
  <table>
    <tbody>
        <tr class="bus round" style="background: #ddd; padding: 12px; margin-bottom: 3px;" >
        <th class="bus_stop" style="width: 50px; font-size: 0.8em; ">のりば</th>
        <th class="going" style="width: 200px; font-size: 0.8em; ">行先</th>
        <th class="time" style="width: 70px; font-size: 0.8em; ">発車時刻</th>
      </tr>

      <% @timetables.each do |t| %>
        <tr class="bus round" style="background: #ddd; padding: 12px; margin-bottom: 3px;" >
          <td class="bus_stop" style="font-size: 1.8em; text-align: center;"><%= t["boarding"] %></td>
        <td class="going" style="font-size: 0.9em; text-align: center; "><%= t["name"] %><% unless t["via"].blank? %><br />(<%= t["via"] %>)<% end %></td>
          <td class="time" style="font-size: 1.5em; text-align: center;" ><%= t["time"][0] %>:<%= t["time"][1] %></td>
        </tr>
      <% end %>

    </tbody>
  </table>
</div>
